{% extends 'foodManager/base.html' %}

{% block content %}

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">

                {{ inventario.producto.nombre }}
                <span>|</span>
                <small>{{ inventario.cantidadActual }} unidad(es) disponible(s)</small>

            </h6>
        </div>
    </div>

    <form method="POST" class="form-consumir">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="u-button"><i class="fas fa-utensils mr-1"></i> Consumir</button>
    </form>

{% endblock %}