{% extends 'foodManager/base.html' %}

{% block content %}

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Lista de Productos Disponibles</h6>
        </div>
    </div>

    <div class="my-3 list bg-white rounded box-shadow">

        {% for i in inventarios %}

            <div class="media mb-3 text-muted border-bottom border-gray d-flex justify-content-between align-items-baseline">

                <p class="media-body pb-4 mb-0 small lh-125">

                    <strong class="text-gray-dark">{{ i.producto.nombre }}</strong>

                    <span>|</span>

                    {{ i.producto.marca }}

                    <span>|</span>

                    <strong> {{ i.cantidadActual }} unidad(es) disponible(s) </strong>
                </p>

                <a class="u-button" href="{% url 'consumir_producto' pk=i.producto.nombre %}"><i class="fas fa-utensils mr-1"></i> Consumir</a>

            </div>

        {% endfor %}

    </div>

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Producto más consumido</h6>
        </div>
    </div>

    <div class="my-3 list bg-white rounded box-shadow">

        <div class="media mb-3 text-muted border-bottom border-gray d-flex justify-content-between align-items-baseline">

            <p class="media-body pb-4 mb-0 small lh-125">

                <strong class="text-gray-dark">{{ masconsumido.producto.nombre }}</strong>

                <span>|</span>

                {{ masconsumido.producto.marca }}

                <span>|</span>

                <strong>Veces consumido : {{ masconsumido.stock }} </strong>
            </p>

        </div>

    </div>

{% endblock %}